<h1 mat-dialog-title>Visualizaçáo dos Pedidos</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width align-center">
    <mat-label>Vendas</mat-label>
    <input matInput disabled value="{{ data.saleDate }}" />
  </mat-form-field>
  <mat-form-field class="full-width align-center">
    <mat-label>ID</mat-label>
    <input matInput disabled value="{{ data.id }}" />
  </mat-form-field>
  <mat-form-field class="full-width align-center">
    <mat-label>Valor</mat-label>
    <input matInput disabled value="{{ data.saleValue }}" />
  </mat-form-field>
</div>
<div class="form-group">
  {{ data.observation }}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</div>
