<h1 mat-dialog-title>Visualizaçáo dos Pedidos</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>Produto</mat-label>
    <input matInput disabled value="Drone" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Loja</mat-label>
    <input matInput disabled value="Aliexpress" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Tipo de Pagamento</mat-label>
    <input matInput disabled value="Santander" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Investidor</mat-label>
    <input matInput disabled value="Wilian" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Nº do Pedido</mat-label>
    <input matInput disabled value="33333333" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Rastreio</mat-label>
    <input matInput disabled value="33333333" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Valor Pago</mat-label>
    <input matInput disabled value="33333333" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Data da Compra</mat-label>
    <input matInput disabled value="33333333" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Valor Pago</mat-label>
    <input matInput disabled value="33333333" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</div>
