<!-- <div class="form-style">
  <h2>Cadastrar Pedidos</h2>
  <hr />
  <form
    *ngIf="register"
    (ngSubmit)="save()"
    class="needs-validation"
    novalidate
    [formGroup]="register"
  >
    <div class="form-row">
      <div class="form-group col-md-2">
        <label class="control-label">Produtos</label>
        <select class="form-control" formControlName="product">
          <option [ngValue]="null" disabled>Escolha uma Produto</option>
          <option *ngFor="let product of products$" [ngValue]="product._id">
            {{ product.name }}
          </option>
        </select>
      </div>

      <app-input-field
        [classCss]="submitted && hasError('requestCode')"
        id="requestCode"
        label="Nu. Pedido"
        [control]="register.get('requestCode')"
        controlName="requestCode"
        [formGroup]="register"
        class="form-group col-md-3"
      ></app-input-field>

      <div class="form-group col-md-2">
        <label class="control-label">Lojas</label>
        <select class="form-control" formControlName="store">
          <option [ngValue]="null" disabled>Escolha uma Loja</option>
          <option *ngFor="let store of stores$" [ngValue]="store._id">
            {{ store.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <app-input-field
        [classCss]="submitted && hasError('tracking')"
        id="tracking"
        label="Rastreio"
        [control]="register.get('tracking')"
        controlName="tracking"
        [formGroup]="register"
        class="form-group col-md-2"
      ></app-input-field>

      <div class="form-group col-md-2">
        <label class="control-label">Lojas</label>
        <select class="form-control" formControlName="paymentType">
          <option [ngValue]="null" disabled>
            Escolha um Tipo de Pagamento
          </option>
          <option
            *ngFor="let paymentType of paymentTypes$"
            [ngValue]="paymentType._id"
          >
            {{ paymentType.name }}
          </option>
        </select>
      </div>

      <app-input-field
        [classCss]="submitted && hasError('investor')"
        id="purchaseDate"
        label="Investidor"
        [control]="register.get('investor')"
        controlName="investor"
        [formGroup]="register"
        class="form-group col-md-3"
      ></app-input-field>
    </div>
    <div class="form-row">
      <app-input-field
        [classCss]="submitted && hasError('purchaseValue')"
        id="purchaseValue"
        label="Valor da Compra"
        [control]="register.get('purchaseValue')"
        controlName="purchaseValue"
        [formGroup]="register"
        class="form-group col-md-3"
      ></app-input-field>

      <app-input-field
        [classCss]="submitted && hasError('purchaseDate')"
        id="purchaseDate"
        label="Data da Compra"
        [control]="register.get('purchaseDate')"
        controlName="purchaseDate"
        [formGroup]="register"
        class="form-group col-md-3"
      ></app-input-field>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button (click)="onCancel()" class="btn btn-default">Cancelar</button>
  </form>
</div> -->
<div class="main-div">
  <mat-card class="center width50">
    <mat-card-title class="title-card">Cadastrar Pedido</mat-card-title>
    <form
      autocomplete="off"
      novalidate
      [formGroup]="register"
      *ngIf="register"
      (ngSubmit)="onSave()"
    >
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Escolha um Produto</mat-label>
          <mat-select formControlName="product">
            <mat-option *ngFor="let product of products$" [value]="product._id">
              {{ product.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Pedido"
            name="requestCode"
            formControlName="requestCode"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Escolha um Loja</mat-label>
          <mat-select formControlName="store">
            <mat-option *ngFor="let store of stores$" [value]="store._id">
              {{ store.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Rastreio"
            name="tracking"
            formControlName="tracking"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Escolha um Tipo de Pagamento</mat-label>
          <mat-select formControlName="paymentType">
            <mat-option
              *ngFor="let paymentType of paymentTypes$"
              [value]="paymentType._id"
            >
              {{ paymentType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Investidor"
            name="investor"
            formControlName="investor"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Data da Compra</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            (focus)="picker.open()"
            formControlName="purchaseDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Valor Pago"
            name="purchaseValue"
            type="value"
            class="input-purchaseValue"
            formControlName="purchaseValue"
            currencyMask
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button
          type="reset"
          color="default"
          mat-raised-button
          (click)="onCancel()"
        >
          Cancelar
        </button>
        <button type="submit" color="primary" mat-raised-button>Salvar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
