<div class="form-style">
  <h2>Cadastrar Produtos</h2>
  <hr />
  <form
    *ngIf="register"
    (ngSubmit)="save()"
    class="needs-validation"
    novalidate
    [formGroup]="register"
  >
    <app-input-field
      [classCss]="submitted && hasError('name')"
      id="name"
      label="Nome"
      [control]="register.get('name')"
      controlName="name"
      [formGroup]="register"
    ></app-input-field>

    <div class="form-group col-md-4">
      <label class="control-label">Categorias</label>
      <select class="form-control" formControlName="category">
        <option [ngValue]="null" disabled>Escolha uma categoria</option>
        <option *ngFor="let category of categories$" [ngValue]="category._id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <app-input-field
      [classCss]="submitted && hasError('quantity')"
      id="quantity"
      label="Quantidade"
      [control]="register.get('quantity')"
      controlName="quantity"
      [formGroup]="register"
    ></app-input-field>

    <app-input-field
      [classCss]="submitted && hasError('price')"
      id="price"
      label="Valor Pago"
      [control]="register.get('[price]')"
      controlName="price"
      [formGroup]="register"
    ></app-input-field>
    <mat-form-field class="full-width">
      <mat-label>última venda</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (focus)="picker.open()"
        f
        formControlName="lastedSale"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="button" (click)="onCancel()" class="btn btn-default">
      Cancelar
    </button>
  </form>
</div>
