/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "app/shared/styles/reset.css";
html,
body {
  margin: 0;
}
body {
  /* margin: 0; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon.action-button {
  font-size: 20px;
}

th.mat-header-cell {
  text-align: center !important;
}
td.mat-cell:last-of-type {
  padding-right: 0 !important;
}

.form-style {
  padding: 50px 50px 50px 50px;
}

.width50 {
  width: 70%;
}

.center {
  margin: 50px auto;
}

.full-width {
  width: 100%;
}

.mat-card-title.title-card {
  margin-bottom: 50px;
}

table {
  width: 100%;
  text-align: center;
}

.container {
  padding-top: 20px;
}

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

.newer {
  margin-bottom: 13px;
}

.attetion-colum {
  background-color: #f08080;
}

align-left {
  text-align: left !important;
}

.w-75 {
  width: 75px;
}

.w-50 {
  width: 50px;
}

.w-45 {
  width: 45px;
}

.w-40 {
  width: 40px;
}

.w-30 {
  width: 30px;
}

.w-100 {
  width: 100px;
}

.w-200 {
  width: 200px;
}

.green-icon {
  color: green !important;
}

.input-price {
  text-align: left !important;
}
